---
const username: string = 'offensive-vk';
---

<section
  id="certifications"
  class="py-12 border-t border-[#ffffff10] text-[var(--white)]"
>
  <div class="max-w-5xl mx-auto">
    <br />
    <h2 class="text-lg text-[var(--sec)] mb-2 mt-4 shiny-sec text-center">My Certifications</h2>
    <h2 class="text-sm text-[var(--sec)] mb-2 mt-4 shiny-sec text-center">Under Construction! - {username}</h2>
  </div>
</section>
